.main-book-wrapper {
    background-image: url("https://raw.githubusercontent.com/manojasarsa/image-assets/main/GOT/got-main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}